.adventure-page {
  padding: 80px 8%;
  background:white;
}

.adventure-header {
  text-align: center;
  margin-bottom: 50px;
}

.adventure-header h1 {
  font-size: 42px;
  color: rgb(94, 208, 108);
}

.adventure-header p {
  color: #6781d7;
  font-size: 18px;
}

/* GRID */
.adventure-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* CARD */
.adventure-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.adventure-card:hover {
  transform: translateY(-8px);
}

.adventure-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONTENT */
.adventure-content {
  padding: 20px;
}

.adventure-content h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #0f172a;
}

.adventure-content .desc {
  font-size: 14px;
  color: #475569;
  margin-bottom: 12px;
  line-height: 1.5;
}

.adventure-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
}

/* BUTTON */
.adventure-btn {
  width: 100%;
  padding: 10px;
  background:  #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.adventure-btn:hover {
  background: #1e40af;
}
