.trip-page {
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.trip-page h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* SUMMARY */
.summary-card {
  display: flex;
  gap: 30px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 40px;
}

.summary-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.summary-item label {
  font-weight: 600;
  font-size: 14px;
}

.summary-item input {
  padding: 10px 12px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* GUEST */
.guest-box {
  position: relative;
}

.guest-input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
}

.guest-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 260px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  padding: 15px;
  z-index: 10;
}

.guest-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.guest-row div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.guest-row button {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* PACKAGES */
.section-title {
  margin-bottom: 20px;
}

.packages {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.package {
  flex: 1;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.package:hover {
  transform: translateY(-5px);
}

.package.active {
  border-color: #29a8ec;
  background:#dbf1fd;
}

.package-desc {
  font-size: 14px;
  color: #555;
}

.package h4{
  font-size: 1.8rem;
  color:#02669c ;
}
/* PRICE */
.price-summary {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 30px;
}

.price-summary p,
.price-summary h3 {
  display: flex;
  justify-content: space-between;
}

.price-summary h3 {
  margin-top: 10px;
  font-size: 20px;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  padding: 12px 28px;
  border-radius: 25px;
  border-color: #29a8ec;
  background: white;
  font-weight: 600;
  cursor: pointer;
}

.buttons button:hover{
  background-color: #02669c;
  color: white;
}